/*
color palete
Background (GRAY)
#fafafa - menu with Page on HP
#f5f5f5 - Everywhere
#EDEDED - TEXT IN INSTRUCTIONS or SCRIPT
#D8D8D8 - Title IN INSTRUCTIONS or SCRIPT

Border (GRAY)
#e3e3e3 - Everywhere
#e8e8e8 - menu with Page on HP
*/


/*category tree*/
#category-tree ul {float:left;width:202px;padding:0;list-style-type:none;}
#category-tree ul li{padding:2px 3px;}
#category-tree ul li:nth-child(odd){background-color:#f5f5f5;}
#category-tree ul li:nth-child(even){background-color:#eee;}

/*productCards - Category*/
.productCard .button.buy{text-align:center;width:100%;margin-top:5px;}
.productCard .button.buy a{display:block;width:100%;color:white;font-weight:bold;text-transform:uppercase;text-decoration:none;}
.productCard .button.buy:hover{background-color:blue;}

/*instructions*/
.instructions{margin:20px 0 40px;}
.instructions.zero{margin:0;}
.instructions h2{background-color:#D8D8D8;color:#4E9CB5;margin:0;padding:10px;}
.instructions ol{list-style-position:inside;list-style-type:none;padding:0;margin:0}
.instructions ol li{padding:0;border-left:1px solid #e3e3e3;border-top:1px solid #e3e3e3;border-right:1px solid #e3e3e3;background-color:#EDEDED;}
.instructions ol li:last-of-type{border-bottom:1px solid #e3e3e3;}
.instructions ol li>div:nth-of-type(1){font-size:1.6em;position:absolute;width:60px;height:60px;text-align:center;line-height:60px;background-color:#4E9CB5;color:white;}
.instructions ol li>div:nth-of-type(2){width:100%;min-height:60px;padding:8px 8px 8px 8px;border-left:60px solid #4E9CB5;}
.instructions ol li>div:nth-of-type(2) span{font-size:1.2em;color:#5D656C;}

/*script*/
.script{width:100%;padding-left:0;margin:20px 0 40px;}
.script.zero{margin:0;}
.script h2{background-color:#D8D8D8;color:#FF4040;margin:0;padding:10px;}
.script pre{border-radius:0;margin:0;border:1px solid #e3e3e3;background-color: #EDEDED;}

/*text*/
h2.subtitle{
		display: table;
		background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    padding: 10px 20px;
    border-radius: 0 20px 20px;
    font-size: 1.6em;
}
.row-fluid p{font-size:16px;padding-left:20px;margin:15px 0 10px;}
.row-fluid ul{font-size:15px;margin:10px 0 20px;}

/*footer*/
footer{
	display: inline-block;
	width: 100%;
	background-color: #f8f8f8;
	text-align: center;
	padding: 16px 0;
	margin-top: 40px;
	font-size: 1.2em;
}
footer span{color: #777;}
